.navbar.affix {

  .navbar-brand.long {
    display: none;
  }

  .navbar-brand.short {
    color: $white;
    display: inline-block;
  }

  a.nav-expander {
    background: none repeat scroll 0 0 $black;
  }

}
