.btn {
  border: none;
  border-radius: 3px;
  font-weight: $font-weight-medium;
  text-decoration: none;
  &:hover {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
}

.navbar-btn {
  background: $green;
  border: 2px solid $white;
  color: $white;
  text-transform: uppercase;
  &:hover {
    background: $darkgreen;
    border: 2px solid $white;
    color: $white;
    transition: all .4s ease;
  }
}

.jumbotron-btn {
  background: $green;
  border: 2px solid $white;
  color: $white;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  &:hover {
    background: $darkgreen;
    border: 2px solid $white;
    color: $white;
    transition: all .4s ease;
  }
}

.learn-btn {
  background: $blue;
  border: 2px solid none;
  color: $white;
  font-weight: $font-weight-medium;
  margin-top: 20px;
  padding: 8px 14px;
  text-transform: uppercase;
  &:hover {
    background: $darkblue;
    color: $white;
    transition: all .4s ease;
  }
}

.call-btn {
  background: $green;
  border: 2px solid $darkgreen;
  color: $white;
  font-weight: $font-weight-medium;
  margin-top: 10px;
  text-transform: uppercase;
  &:hover {
    background: $darkgreen;
    border: 2px solid $darkgreen;
    color: $white;
    transition: all .4s ease;
  }
}
