footer {
  background-color: #333;
  border: none;
  padding: 40px 0 20px;
  text-decoration: none;

  p {
    color: $white;
    font-size: $font-size-small;
  }

  a,
  a:active,
  a:focus {
    color: $lightgray;
    font-size: $font-size-small;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $lightblue;
      text-decoration: none;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }

  }

  .list-inline {
    margin-left: 0;
    padding: 0 0 .75em;

    .footer-li:before {
      color: $white;
      content: '/';
      display: block;
      float: left;
      padding-right: 1em;
      width: 1em;
    }

  }

}
