/* Colors */
$black: #37404a;
$white: #FFF;

$lightgray: #F2F2F2;
$mediumgray: #c4cbcf;
$darkgray: #757575;

$blue: #0071BC;
$darkblue: #0062a3;
$lightblue: #DDF1F5;

$darkgreen: #27AE60;
$green: #2ECC71;

/* Fonts */
$base-font-color: #000;
$base-font-family: "Proxima-Nova", "Helvetica Neue", Helvetica, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;

$title-font-family: "Crimson", "Times New Roman", serif;

$font-size-xs: 0.75em;
$font-size-small: 0.875em;
$font-size-large: 1.125em;
$font-size-xl: 1.25em;
$font-size-xxl: 1.375em;

$font-weight-extra-heavy: 800;
$font-weight-heavy: 700;
$font-weight-medium: 600;
$font-weight-light: 300;
